@import 'bourbon';
@import 'neat';

@include font-face(Comenia_Sans_Regular, './Comenia_Sans_Regular');
@include font-face(Monopol_Semibold, './Monopol_Semibold', bold);

$text: 14px;
$big-text: golden-ratio($text, 1);
$bigger-text: golden-ratio($text, 2);
$biggest-text: golden-ratio($text, 6);

$main-width: 50em;
$content-width: 46em;

$yellow: rgb(255, 204, 51);
$light-yellow: lighten($yellow, 38%) ;
$red: #cb0011;
$light-red: lighten($red, 59%) ;
$white: shade(rgb(255, 255, 255), 1%);
$grey: shade($white, 4%);
$black: shade($white, 80%);

@mixin title-font {
  font-family: "Monopol_Semibold";
  color: $yellow;
}

@mixin text-font {
  font-family: "Comenia_Sans_Regular";
  color: $black;
}

@mixin red-section {
  @include outer-container;

  border-top: 0.15em solid $red;
  background-color: $light-red;
}

@mixin yellow-section {
  @include outer-container;

  border-top: 0.15em solid $yellow;
  background-color: $light-yellow;
}

body {
  background-color: $grey;
  margin: 0;
}

h1, h2, h3 {
  @include title-font;
  margin: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h1 {
  font-size: $biggest-text;
}

h2 {
  font-size: $bigger-text;
}

h3 {
  font-size: $big-text;
}

div.container {
  @include outer-container;
  @include text-font;
  box-shadow: 0 0 0.67em $black;
  width: $main-width;
  background-color: $white;

  header {
    @include row;
    @include pad(0 2em);

    @include yellow-section;

    h1 {
      @include span-columns(8);
      @include pad(0 0 0 0.03em);

      span:first-child {
        color: $red;
      }

      span:last-child {
        color: $yellow;
        margin-left: $biggest-text/-2;
      }
    }

    h2 {
      @include transform(rotate(270deg));
      @include transform-origin(left top);
      @include red-section;

      box-shadow: 0 0 0.75em $black;
      z-index: -1;
      position: fixed;
      top: 6em;
      width: 4em;
      margin-left: -2.3em;
      padding-left: 0.5em;

      span:first-child {
        color: $red;
      }

      span:last-child {
        color: $yellow;
      }
    }

    .vcard {
      @include span-columns(4);
      @include pad(2.5em 0 0 0);
      @include omega;

      color: $red;
      font-size: $big-text;
      text-align: right;

      p {
        margin: 0.25em 0;
      }
    }
  }

  section {
    @include pad(1em 2em);
    @include span-columns(12);

    h2:first-child {
      @include span-columns(12);
      font-size: $bigger-text;
      color: $yellow;
    }
  }

  section#motto {
    @include red-section;

    h2 {
      @include span-columns(2);
      @include omega;
    }

    p {
      @include span-columns(9);

      margin-top: 0.5em;
      color: $black;
    }
  }

  section#blog {
    @include yellow-section;

    article {
      .head {
        @include row;

        h4 {
          @include span-columns(10);

          margin: 0.5em 0 0 0;
          font-weight: normal;

          a {
            color: $red;
            text-decoration: none;
          }
        }

        time {
          @include span-columns(2);
          @include omega;

          margin: 0.5em 0 0 0;
          color: $black;
        }
      }

      .body {
        @include row;

        p.tags {
          @include span-columns(2);
          @include omega;

          font-size: $text;

          a {
            text-decoration: none;
            color: $red;
          }
        }

        p {
          @include span-columns(10);
        }
      }
    }
  }

  section#showcases {
    @include red-section;

    a {
      @include span-columns(6);
      @include omega;

      display: block;
      height: 21em;
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }

      h3 {
        @include span-columns(5 of 6);
        @include pad(1em);
        color: red;

        margin-top: 2em;
        margin-bottom: 0em;
        @include yellow-section;
      }

      p {
        @include span-columns(5 of 6);
        @include pad(1.5em);
        margin-top: 0px;
        color: $black;
        background-color: $light-yellow;
      }
    }

  }

  div.blog {
    @include pad(1em 2em);
    @include span-columns(12);
    @include yellow-section;


    h2 {
      color: $red;
    }

    p:first-child {
      display: none;
    }
  }

  footer {
    @include title-font;
    @include pad(0.5em);
    @include row;
    @include span-columns(12);
    @include yellow-section;

    text-align: center;
    color: $red;
  }
}



