@import 'bourbon';
@import 'neat';

@include font-face(Comenia_Sans_Regular, './Comenia_Sans_Regular');
@include font-face(Monopol_Semibold, './Monopol_Semibold', bold);

$text: 12px;
$biggest-text: golden-ratio($text, 6);
$bigger-text: golden-ratio($text, 2);
$big-text: golden-ratio($text, 1);

$yellow: rgb(255, 204, 51);
$red: #cb0011;
$white: shade(rgb(255, 255, 255), 1%);
$grey: shade($white, 4%);
$black: shade($white, 80%);

@mixin title-font {
  font-family: "Monopol_Semibold";
}

@mixin text-font {
  font-family: "Comenia_Sans_Regular";
}

$main-width: 48em;
$content-width: 44em;

body {
  background-color: $grey;
  margin: 0;
}

h1, h2, h3 {
  @include title-font;
  margin: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h1 {
  font-size: $biggest-text;
}

h2 {
  font-size: $bigger-text;
}

h3 {
  font-size: $big-text;
}

div.container {
  @include outer-container;
  @include text-font;
  box-shadow: 0 0 0.67em $black;
  width: $main-width;
  background-color: $white;

  header {
    @include span-columns(12);
    @include omega;
    @include pad(0 2em);

    h1 {
      @include span-columns(9 of 12);
      @include pad(0 0 0 0.03em);

      span:first-child {
        color: $red;
      }

      span:last-child {
        color: $yellow;
        margin-left: $biggest-text/-2;
      }
    }

    h2 {
      @include transform(rotate(270deg));
      @include transform-origin(left top);
      box-shadow: 0 0 0.75em $black;
      background-color: $white;
      z-index: -1;

      position: fixed;
      top: 6em;
      width: 4em;
      margin-left: -2.2em;
      padding-left: 0.5em;

      span:first-child {
        color: $red;
      }

      span:last-child {
        color: $yellow;
      }
    }

    .vcard {
      @include span-columns(3 of 12);
      @include pad(5em 1em 0 0);
      @include omega;

      color: $red;
      font-size: $text;
      text-align: right;
    }
  }

  section {
    @include pad(0 2em);
    @include span-columns(12);

    h2:first-child {
      @include span-columns(12);
      font-size: $bigger-text;
      color: $red;
    }
  }

  section#motto {
    p {
      font-size: $bigger-text;
      font-family: Monopol_Semibold;
    }
  }

  section#blog {
    article {
      .head {
        font-family: Monopol_Semibold;

        h4 {
          @include span-columns(10 of 12);
          @include shift(4);
          margin: 0.5em 0;

          a {
            color: $red;
            text-decoration: none;
          }
        }

        time {
          @include span-columns(1 of 12);
          margin: 0.5em 0;
          color: $red;
        }
      }

      .body {
          @include span-columns(12 of 12);
      }


    }
  }

  section#showcases {
    a {
      @include omega;
      display: block;
      width: $content-width;
      height: 42em;
      margin-top: 3em;
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }

      &:first-child {
        margin-top: 0px;
      }

      h3 {
        @include span-columns(5 of 12);
        @include shift(2);
        @include omega;
        @include pad(1em);

        margin-top: 2em;
        margin-bottom: 0em;
        color: $yellow;
        background-color: $red;
      }

      p {
        @include shift(2);
        @include span-columns(5 of 12);
        @include pad(1em);
        margin-top: 0px;
        color: $red;
        background-color: $yellow;
        font-size: $text;
      }
    }

  }

  footer {
    @include title-font;
    @include pad(2em);
    @include row;
    @include span-columns(12);

    font-size: $text;
    text-align: center;
    color: $red;
  }
}



